:root {
  --cl-black: #0f1414;
  --cl-white: #ffffff;
  --cl-gray: #bfbfbf;
  --cl-red: #bc2e37;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--cl-black);
  color: var(--cl-white);
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media #{$mq-1400-down} {
    max-width: 1100px;
  }

  @media #{$mq-1180-down} {
    max-width: 1000px;
  }

  @media #{$mq-1000-down} {
    max-width: 900px;
  }
}

section {
  min-height: 100vh;

  @media #{$mq-1180-down} {
    padding: 10vh 4vh;
  }
}

.color-accent {
  color: var(--cl-red);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
