.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  width: 100%;

  @media #{$mq-1000-down} {
    gap: 12px;
  }
}

.component_1 {
  height: 600px;
  align-items: start;

  & > * {
    height: 100%;
    max-width: 100%;

    @media #{$mq-620-down} {
      width: 100%;
    }
  }

  & > *:last-child {
    @media #{$mq-760-down} {
      grid-column: span 2;
    }

    @media #{$mq-620-down} {
      grid-column: span 1;
    }
  }

  @media #{$mq-1400-down} {
    min-height: max-content;
  }

  @media #{$mq-1180-down} {
    min-height: 100vh;
    height: 100%;
  }

  @media #{$mq-760-down} {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 80%;
    text-align: center;
  }

  @media #{$mq-620-down} {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  @media #{$mq-1000-down} {
    gap: 12px;
  }

  & > * {
    max-width: 100%;
    height: 100%;
  }
}

.component_2 {
  @media #{$mq-760-down} {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  & > * {
    @media #{$mq-760-down} {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    img {
      @media #{$mq-760-down} {
        width: 70%;
        margin: 0 auto 24px;
      }

      @media #{$mq-620-down} {
        width: 100%;
      }
    }

    p {
      @media #{$mq-760-down} {
        max-width: 71ch;
      }
    }

    a {
      @media #{$mq-760-down} {
        width: max-content;
        margin: 0 auto 48px;
      }
    }
  }
}
