.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

.component_1 {
  height: 600px;
  align-items: start;

  & > * {
    height: 100%;
    max-width: 100%;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  & > * {
    max-width: 100%;
  }
}
