@font-face {
  font-family: "OpenSans";
  src: url("../app/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../app/assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../app/assets/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--cl-white);
  line-height: 1.8;

  @media #{$mq-1000-down} {
    font-size: 16px;
    line-height: 1.4;
  }

  @media #{$mq-900-down} {
    font-size: 14px;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cl-white);
  font-weight: 400;
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--cl-red);
}

.h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 4rem;

  @media #{$mq-1000-down} {
    font-size: 36px;
  }

  @media #{$mq-900-down} {
    font-size: 24px;
  }
}

.h2 {
  font-size: 24px;

  @media #{$mq-1000-down} {
    font-size: 20px;
  }

  @media #{$mq-900-down} {
    font-size: 18px;
  }
}

.h3 {
  font-size: 18px;
  color: var(--cl-white);

  @media #{$mq-1000-down} {
    font-size: 16px;
  }

  @media #{$mq-900-down} {
    font-size: 14px;
  }
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 500;
}

.text-feather {
  font-weight: 300;
  color: var(--cl-gray);
}

.inset {
  font-size: 16px;

  @media #{$mq-900-down} {
    font-size: 14px;
  }
}

.uppercase {
  text-transform: uppercase;
}
